backend/src/ProDiabHis.Api/Resources/Xsd/qd4750/bang5.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- XSD placeholder cho Bang 5 - QD 4750/QD-BYT
     Can thay the bang XSD chinh thuc tu BYT khi co san -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Bang5">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Row" minOccurs="0" maxOccurs="unbounded">
          <xs:complexType>
            <xs:sequence>
              <xs:any minOccurs="0" maxOccurs="unbounded" processContents="lax"/>
            </xs:sequence>
            <xs:attribute name="index" type="xs:integer"/>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
